# LIST

In [1]:
lst=[2,6,9,"upasna","kapoor",69.5]

In [2]:
lst

[2, 6, 9, 'upasna', 'kapoor', 69.5]

In [3]:
len(lst)

6

In [4]:
lst[0:]

[2, 6, 9, 'upasna', 'kapoor', 69.5]

In [5]:
lst[:6]

[2, 6, 9, 'upasna', 'kapoor', 69.5]

In [6]:
lst[2]="vasu"

In [7]:
lst

[2, 6, 'vasu', 'upasna', 'kapoor', 69.5]

In [9]:
lst.insert(3,"Mehta")

In [10]:
lst

[2, 6, 'vasu', 'Mehta', 'upasna', 'kapoor', 69.5]

In [11]:
lst.count(2)

1

In [12]:
lst.index(6)

1

In [13]:
lst.reverse()

In [14]:
lst

[69.5, 'kapoor', 'upasna', 'Mehta', 'vasu', 6, 2]

In [16]:
lst1=[2,5,"arti","kapoor",[5,8,"Mehta"]]

In [18]:
lst1

[2, 5, 'arti', 'kapoor', [5, 8, 'Mehta']]

In [20]:
lst1[4]

[5, 8, 'Mehta']

In [21]:
lst1[4][2]

'Mehta'

In [22]:
lst1[4][2][3]

't'

In [23]:
for i in lst1:
    print(i)

2
5
arti
kapoor
[5, 8, 'Mehta']

In [24]:
if 5 in lst1:
    print("yes")

yes

In [25]:
if 40 not in lst1:
    print("No")

No

In [26]:
lst1.append("lol")

In [27]:
lst1

[2, 5, 'arti', 'kapoor', [5, 8, 'Mehta'], 'lol']

In [28]:
del lst1[3]

In [29]:
lst1

[2, 5, 'arti', [5, 8, 'Mehta'], 'lol']

In [2]:
F1=(input("Enter first fruit name:"))
F2=(input("Enter second fruit name:"))
F3=(input("Enter third fruit name:"))
F4=(input("Enter fourth  fruit name:"))
F5=(input("Enter fifth fruit name:"))
F6=(input("Enter sixth fruit nmae:"))

Enter first fruit name:lichi
Enter second fruit name:mango
Enter third fruit name:apple
Enter fourth  fruit name:banana
Enter fifth fruit name:orange
Enter sixth fruit nmae:papaya

In [3]:
myfruits=(F1,F2,F3,F4,F5,F6)

In [4]:
myfruits

('lichi', 'mango', 'apple', 'banana', 'orange', 'papaya')

In [5]:
lst=[2,8,89,78,66]

In [6]:
lst

[2, 8, 89, 78, 66]

In [7]:
lst.remove(8)

In [8]:
lst

[2, 89, 78, 66]

In [11]:
lst.pop(1)

89

In [10]:
lst

[2, 89, 78]

In [12]:
lst.pop()

78

# TUPLE

In [26]:
tp=(89,45,55,80,"shruti")

In [27]:
tp

(89, 45, 55, 80, 'shruti')

In [14]:
tp1=list(tp)

In [28]:
tp1

[89, 45, 'upasna', 'kapoor', 55, 80, 'shruti']

In [16]:
tp1[2]="kapoor"

In [23]:
tp1

[89, 45, 'upasna', 'kapoor', 55, 80, 'shruti']

In [18]:
tp1.insert(2,"upasna")

In [24]:
tp1

[89, 45, 'upasna', 'kapoor', 55, 80, 'shruti']

In [20]:
tp=tuple(tp1)

In [21]:
tp

(89, 45, 'upasna', 'kapoor', 55, 80, 'shruti')

In [11]:
tp[0:]

(89, 45, 'upasna', 'kapoor', 80, 'shruti')

In [29]:
tp.count(45)

1

In [30]:
tp.index(45)

1

In [1]:
kp=(6,90,70,"kapoor","shruti")

In [2]:
kp

(6, 90, 70, 'kapoor', 'shruti')

In [3]:
for i in kp:
    print(i)

6
90
70
kapoor
shruti

In [4]:
if 90 in kp:
    print("yes")

yes

In [5]:
if 55 not in kp:
    print("no")

no

# SET

In [6]:
s={5,88,11,45,88,11,8,"kapor","upasna",5}

In [7]:
s

{11, 45, 5, 8, 88, 'kapor', 'upasna'}

In [10]:
s.add(60)

In [11]:
s

{11, 45, 5, '60', 60, 8, 88, 'kapor', 'upasna'}

In [15]:
s.update

In [13]:
s

{11, 45, 5, '60', 60, 8, 88, 'kapor', 'upasna'}

In [16]:
s.remove(11)

In [17]:
s

{45, 5, '60', 60, 8, 88, 'kapor', 'upasna'}

In [18]:
s.discard(99)

In [19]:
len(s)

8

In [20]:
type(s)

set

In [22]:
for i in s:
    print(i)

upasna
kapor
5
8
60
45
88
60

In [23]:
if 5 in s:
    print("yes")

yes

In [24]:
if 89 not in s:
    print("no")

no

In [25]:
s.pop()

'upasna'

In [28]:
del s

NameError: name 's' is not defined

# DICTONARY

In [33]:
dict={
    "Name":"upasna",
    "Section":"A",
    "Age":21,
    
}

In [34]:
dict

{'Name': 'upasna', 'Section': 'A', 'Age': 21}

In [35]:
len(dict)

3

In [36]:
type(dict)

dict

In [40]:
dict={
    
    "name":"upasna",
    "name":"kapoor",
    "name":"shruti",
    "name":"princy",
}

In [41]:
dict

{'name': 'princy'}

In [42]:
dict={
    "name":"ups",
    "caste":"ups",
    "class":"ups",
    "city":"ups"
}

In [43]:
dict

{'name': 'ups', 'caste': 'ups', 'class': 'ups', 'city': 'ups'}

In [44]:
dict.keys()

dict_keys(['name', 'caste', 'class', 'city'])

In [45]:
dict.values()

dict_values(['ups', 'ups', 'ups', 'ups'])

In [46]:
dict.items()

dict_items([('name', 'ups'), ('caste', 'ups'), ('class', 'ups'), ('city', 'ups')])

In [47]:
for i in dict:
    print(i)

name
caste
class
city

In [48]:
for i in dict.values():
    print(i)

ups
ups
ups
ups

In [49]:
for i in dict.items():
    print(i)

('name', 'ups')
('caste', 'ups')
('class', 'ups')
('city', 'ups')

In [50]:
dict["salary"]=15000

In [51]:
dict

{'name': 'ups', 'caste': 'ups', 'class': 'ups', 'city': 'ups', 'salary': 15000}

In [54]:
dict.update({"color":"black"})

In [55]:
dict

{'name': 'ups',
 'caste': 'ups',
 'class': 'ups',
 'city': 'ups',
 'salary': 15000,
 'color': 'black'}

In [56]:
dict.get("salary")

15000

In [58]:
if "age" in dict:
    print("yes")

In [59]:
if "age" not in dict:
    print("no")

no

In [61]:
dict.pop("salary")

15000

In [63]:
dict.popitem()

('color', 'black')

In [3]:
dict={
    "name":"upasna",
    "caste":"kapoor",
    "age":21
    
}

In [4]:
dict

{'name': 'upasna', 'caste': 'kapoor', 'age': 21}

In [5]:
dict.update({"color":"blue"})

In [7]:
dict["salary"]=20000

In [8]:
dict

{'name': 'upasna',
 'caste': 'kapoor',
 'age': 21,
 'color': 'blue',
 'salary': 20000}

In [9]:
dict.popitem()

('salary', 20000)

# if statement

In [10]:
a=20
if a<40:
    print("true")
elif a>30:
    print("false")

true

In [11]:
b=40
if a<20:
    print("true")
elif a>80:
    print("false")
else:
    print("no")

no

In [13]:
a=40
b=60
if a<30 and b>50:
    print("true")
elif a<50 and b>50:
    print("false")

false

In [14]:
a=20
b=80
if a<20 or b>50:
    print("true")
elif a<10 or b>30:
    print("false")

true

In [15]:
lst=[2,8,9,7,9,5,4,3]

In [16]:
lst

[2, 8, 9, 7, 9, 5, 4, 3]

In [17]:
for i in lst:
    print(i**2)

4
64
81
49
81
25
16
9

In [18]:
x=int(input("Enter a number:"))

Enter a number:5

In [23]:
for i in range(1,11):
    print(x*i)

5
10
15
20
25
30
35
40
45
50

In [21]:
for i in range(1,30):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

# Function

In [24]:
def add():
    a=20
    b=80
    c=a+b
    print(c)

In [25]:
add()

100

In [26]:
def sum(a,b):
    c=a+b
    print(c)

In [27]:
sum(30,40)

70

In [29]:
def info():
    name="upasna"
    print("MY name is ",name)

In [30]:
info()

MY name is  upasna

In [34]:
def info():
    age =21
    print("My age is:",age)

In [35]:
info()

My age is: 21

In [36]:
x=lambda a:a**2

In [43]:
a(4)

TypeError: 'int' object is not callable

In [44]:
x=lambda a,b:a+b

In [45]:
x(5,80)

85

In [46]:
x=lambda a,b:a*b

In [47]:
x(34,90)

3060

In [48]:
import math

In [49]:
math.factorial(4)

24

In [50]:
import math

In [51]:
math.ceil(2)

2

In [ ]:
import.math

In [53]:
math.pow(6,2)

36.0

In [54]:
def root():
    x=int(input("Enter a number"))
    y=math.sqrt(x)
    print(y)

In [55]:
root()

Enter a number4
2.0

In [58]:
f=open("kapoor","r")
x=f.read()

In [59]:
x

'take care'

In [62]:
f=open("kapoor","w")
x=f.write("hope everything will be fine")

In [64]:
with open ("kapoor","r") as f:
    x=f.read()

In [65]:
print(x)

hope everything will be fine

In [66]:
with open ("kapoor","w") as f:
    x=f.write("god is always with you")

# class

In [67]:
class faculty():
    teacher="piet"

In [68]:
upasna=faculty()

In [69]:
upasna.teacher

'piet'

In [70]:
class employee():
    company="ibm"

In [71]:
riya=employee()

In [72]:
riya.company

'ibm'

In [73]:
class employee():
    def getsalary(self):
        print("salary is 50l")

In [74]:
upasna=employee()

In [76]:
upasna.getsalary()

salary is 50l

In [77]:
employee.getsalary(upasna)

salary is 50l

In [79]:
class books():
    writer="gupta"
    def info(self,a,b):
        c=a+b
        print(c)

In [80]:
ups=books()

In [82]:
ups.info(34,80)

114

In [83]:
ups.writer

'gupta'

In [93]:
class pen():
    def disp(self):
        import math
        y=math.sqrt(x)
        print(y)

In [91]:
kapoor=pen()

In [94]:
x=int(input("enter a number"))

enter a number4

In [95]:
kapoor.disp()

2.0

In [106]:
class subject():
    def sqr(self,x):
        print("square is", x**2)

In [107]:
emp=subject()

In [108]:
y=int(input("enter a number"))

enter a number6

In [109]:
emp.sqr(y)

square is 36

In [110]:
class student():
    
        @staticmethod
        def greet():
            print("good to see you")

In [111]:
kp=student()

In [112]:
kp.greet()

good to see you

In [120]:
class square():
    def sqr(self,x):
        for i in x:
            print("square is ",i**2)

In [121]:
lst=[2,7,6,8,9,5]

In [122]:
x=lst

In [123]:
value=square()

In [124]:
value.sqr(lst)

square is  4
square is  49
square is  36
square is  64
square is  81
square is  25

In [126]:
class employee():
    company="google"
    def __init__(self):
        print("how are you")

In [127]:
emp=employee()

how are you

In [135]:
class employee():
    compnay="google"
    def __init__(self,name,age):
        self.name=name
        self.age=age
        def info(self):
            print("The name is",self.name)
            print("The age is",self.age)

In [136]:
emp=employee("upasna",21)

In [137]:
emp.info()

AttributeError: 'employee' object has no attribute 'info'

In [141]:
class employee():
    company="dell"
    def __init__(self,name,age):
        self.name=name
        self.age=age
        print("the name is ",self.name)
        print("the age is",self.age)

In [143]:
emp=employee("upasna",21)

the name is  upasna
the age is 21

In [157]:
class employee():
    company="ibm"
    def __init__(self,a,b):
        self.a=a
        self.b=b
        
    def getdata(self):
            c=self.a+self.b
            print(c)

In [158]:
emp=employee(20,60)

In [159]:
emp.getdata()

80

# EXCEPTION HANDLING

In [1]:
a=int(input("Enter a number:"))
c=1/a
print(c)

Enter a number:0

ZeroDivisionError: division by zero

In [4]:
try:
    a=int(input("Enter a number:"))
    c=1/a
    print(c) 
except Exception as e:
    print(e)

Enter a number:0
division by zero

In [8]:
try:
    a=int(input("Enter a number:"))
    c=1/a
    print(c)
except Exception as e:
    print(e)
except ValueDivisionError as e:
    print("Enter correct number")
else:
    print("done")
finally:
    print("wll done")

Enter a number:2
0.5
done
wll done

In [1]:
try:
    x=int(input("Enter a number:"))
    y=int(input("Enter a number:"))
    z=x+y
    print(z)
except Exception as e:
    print(e)
else:
    print("good")
finally:
    print("yup")

Enter a number:3
Enter a number:hp
invalid literal for int() with base 10: 'hp'
yup

# INHERITANCE

In [2]:
class Employee():
    company="IBM"
    def info(self):
        print("you are very superior")
        
class programmer(Employee):
    language="java"
    def getsalary(self):
        print("salary is 40k")

In [3]:
emp=Employee()

In [4]:
pg=programmer()

In [5]:
pg.company

'IBM'

In [7]:
emp.company

'IBM'

In [8]:
pg.info()

you are very superior

In [9]:
pg.getsalary()

salary is 40k

In [14]:
class Teacher():
    college="piet"
    def getsalary(self):
        print("you salary is 60k")
class student(Teacher):
    school="gvm"
    def getsalary(self):
        print("we get les salary")

In [15]:
tp=Teacher()

In [16]:
sc=student()

In [17]:
sc.getsalary()

we get les salary

# DATA FRAME SET

In [2]:
import pandas as pd
import numpy as np

In [3]:
iris=pd.read_csv("iris.csv")

In [4]:
iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [5]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
iris.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [7]:
iris.shape

(150, 6)

In [8]:
iris.isnull().any()

Id               False
SepalLengthCm    False
SepalWidthCm     False
PetalLengthCm    False
PetalWidthCm     False
Species          False
dtype: bool

In [9]:
iris.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [10]:
iris.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [12]:
iris=iris.drop(columns="Id")

In [13]:
iris

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [24]:
y=iris["Species"]
x=iris.drop(columns="Species")

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [27]:
from sklearn.linear_model import LogisticRegression

In [28]:
from sklearn.metrics import accuracy_score

In [29]:
model =LogisticRegression()

In [30]:
model.fit(x_train,y_train)

LogisticRegression()

In [31]:
pred = model.predict(x_test)

In [32]:
accuracy_score(pred,y_test)

0.9333333333333333

In [33]:

a=float(input("Enter Sepal length:"))
b=float(input("Enter Petal length:"))
c=float(input("Enter Petal length:"))
d=float(input("Enter Sepal length:"))
arr=np.array([[a,b,c,d,]])

Enter Sepal length:2.3
Enter Petal length:3.4
Enter Petal length:2.6
Enter Sepal length:4.5

In [34]:
print("The iris Flower is",model.predict(arr))

The iris Flower is ['Iris-virginica']

In [17]:
tested=pd.read_csv("tested.csv")

In [18]:
tested

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [19]:
tested.shape

(418, 12)

In [20]:
tested.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [21]:
tested.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [22]:
tested.isnull().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare            True
Cabin           True
Embarked       False
dtype: bool

In [24]:
tested["Age"]=tested["Age"].fillna(tested["Age"].median())

In [25]:
tested

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,27.0,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,27.0,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,27.0,1,1,2668,22.3583,NaN,C

In [26]:
tested["Age"]

0      34.5
1      47.0
2      62.0
3      27.0
4      22.0
       ...
413    27.0
414    39.0
415    38.5
416    27.0
417    27.0
Name: Age, Length: 418, dtype: float64

In [36]:
tested["Cabin"]=tested["Cabin"].fillna(tested["Cabin"].mode()[0])

In [40]:
tested["Fare"]=tested["Fare"].fillna(tested["Fare"].median())

In [41]:
tested["Fare"]

0        7.8292
1        7.0000
2        9.6875
3        8.6625
4       12.2875
         ...
413      8.0500
414    108.9000
415      7.2500
416      8.0500
417     22.3583
Name: Fare, Length: 418, dtype: float64

In [37]:
tested

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,B57 B59 B63 B66,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,B57 B59 B63 B66,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,B57 B59 B63 B66,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,B57 B59 B63 B66,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,B57 B59 B63 B66,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,27.0,0,0,A.5. 3236,8.0500,B57 B59 B63 B66,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,B57 B59 B63 B66,S
416,1308,0,3,"Ware, Mr. Frederick",male,27.0,0,0,359309,8.0500,B57 B59 B63 B66,S
417,1309,0,3,"Peter, Master. Michael J",male,27.0,1,1,2668,22.3583,B57 B59 B63 B66,C

In [38]:
tested["Cabin"]

0      B57 B59 B63 B66
1      B57 B59 B63 B66
2      B57 B59 B63 B66
3      B57 B59 B63 B66
4      B57 B59 B63 B66
            ...
413    B57 B59 B63 B66
414               C105
415    B57 B59 B63 B66
416    B57 B59 B63 B66
417    B57 B59 B63 B66
Name: Cabin, Length: 418, dtype: object

In [42]:
tested.isnull().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age            False
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin          False
Embarked       False
dtype: bool

In [45]:
y=tested["Survived"]
x=tested.drop(columns="Survived")

In [46]:
tested

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,B57 B59 B63 B66,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,B57 B59 B63 B66,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,B57 B59 B63 B66,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,B57 B59 B63 B66,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,B57 B59 B63 B66,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,27.0,0,0,A.5. 3236,8.0500,B57 B59 B63 B66,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,B57 B59 B63 B66,S
416,1308,0,3,"Ware, Mr. Frederick",male,27.0,0,0,359309,8.0500,B57 B59 B63 B66,S
417,1309,0,3,"Peter, Master. Michael J",male,27.0,1,1,2668,22.3583,B57 B59 B63 B66,C

In [47]:
y.head()

0    0
1    1
2    0
3    0
4    1
Name: Survived, dtype: int64

In [48]:
x.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,B57 B59 B63 B66,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,B57 B59 B63 B66,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,B57 B59 B63 B66,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,B57 B59 B63 B66,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,B57 B59 B63 B66,S

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [53]:
x_train

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
86,978,3,"Barry, Miss. Julia",female,27.0,0,0,330844,7.8792,B57 B59 B63 B66,Q
151,1043,3,"Matinoff, Mr. Nicola",male,27.0,0,0,349255,7.8958,B57 B59 B63 B66,C
62,954,3,"Bjorklund, Mr. Ernst Herbert",male,18.0,0,0,347090,7.7500,B57 B59 B63 B66,S
266,1158,1,"Chisholm, Mr. Roderick Robert Crispin",male,27.0,0,0,112051,0.0000,B57 B59 B63 B66,S
197,1089,3,"Nilsson, Miss. Berta Olivia",female,18.0,0,0,347066,7.7750,B57 B59 B63 B66,S
...,...,...,...,...,...,...,...,...,...,...,...
131,1023,1,"Gracie, Col. Archibald IV",male,53.0,0,0,113780,28.5000,C51,C
94,986,1,"Birnbaum, Mr. Jakob",male,25.0,0,0,13905,26.0000,B57 B59 B63 B66,C
293,1185,1,"Dodge, Dr. Washington",male,53.0,1,1,33638,81.8583,A34,S
252,1144,1,"Clark, Mr. Walter Miller",male,27.0,1,0,13508,136.7792,C89,C
169,1061,3,"Hellstrom, Miss. Hilda Maria",female,22.0,0,0,7548,8.9625,B57 B59 B63 B66,S

In [54]:
x_test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
392,1284,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,B57 B59 B63 B66,S
162,1054,2,"Wright, Miss. Marion",female,26.0,0,0,220844,13.5000,B57 B59 B63 B66,S
336,1228,2,"de Brito, Mr. Jose Joaquim",male,32.0,0,0,244360,13.0000,B57 B59 B63 B66,S
63,955,3,"Bradley, Miss. Bridget Delia",female,22.0,0,0,334914,7.7250,B57 B59 B63 B66,Q
89,981,2,"Wells, Master. Ralph Lester",male,2.0,1,1,29103,23.0000,B57 B59 B63 B66,S
...,...,...,...,...,...,...,...,...,...,...,...
253,1145,3,"Salander, Mr. Karl Johan",male,24.0,0,0,7266,9.3250,B57 B59 B63 B66,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,B57 B59 B63 B66,S
381,1273,3,"Foley, Mr. Joseph",male,26.0,0,0,330910,7.8792,B57 B59 B63 B66,Q
259,1151,3,"Midtsjo, Mr. Karl Albert",male,21.0,0,0,345501,7.7750,B57 B59 B63 B66,S
258,1150,2,"Bentham, Miss. Lilian W",female,19.0,0,0,28404,13.0000,B57 B59 B63 B66,S

In [55]:
y_train

86     1
151    0
62     0
266    0
197    1
      ..
131    0
94     0
293    0
252    0
169    1
Name: Survived, Length: 292, dtype: int64

In [56]:
y_test

392    0
162    1
336    0
63     1
89     0
      ..
253    0
5      0
381    0
259    0
258    1
Name: Survived, Length: 126, dtype: int64

In [68]:
from sklearn.linear_model import LogisticRegression

In [69]:
from sklearn.metrics import accuracy_score

In [70]:
model=LogisticRegression()

In [71]:
model.fit(x_train,y_train)

ValueError: could not convert string to float: 'Barry, Miss. Julia'

In [72]:
loan=pd.read_csv("loan.csv")

In [73]:
loan

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [74]:
loan.isnull().any()

Loan_ID              False
Gender                True
Married               True
Dependents            True
Education            False
Self_Employed         True
ApplicantIncome      False
CoapplicantIncome    False
LoanAmount            True
Loan_Amount_Term      True
Credit_History        True
Property_Area        False
Loan_Status          False
dtype: bool

In [75]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [76]:
loan.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [80]:
loan["Gender"]=loan["Gender"].fillna(loan["Gender"].mode()[0])

In [81]:
loan["Gender"]

0        Male
1        Male
2        Male
3        Male
4        Male
        ...
609    Female
610      Male
611      Male
612      Male
613    Female
Name: Gender, Length: 614, dtype: object

In [82]:
loan["Married"]=loan["Married"].fillna(loan["Married"].mode()[0])

In [83]:
loan["Married"]

0       No
1      Yes
2      Yes
3      Yes
4       No
      ...
609     No
610    Yes
611    Yes
612    Yes
613     No
Name: Married, Length: 614, dtype: object

In [86]:
loan["Dependents"]=loan["Dependents"].fillna(loan["Dependents"].mode()[0])

In [87]:
loan["Dependents"]

0       0
1       1
2       0
3       0
4       0
       ..
609     0
610    3+
611     1
612     2
613     0
Name: Dependents, Length: 614, dtype: object

In [88]:
loan["Self_Employed"]=loan["Self_Employed"].fillna(loan["Self_Employed"].mode()[0])

In [89]:
loan["Self_Employed"]

0       No
1       No
2      Yes
3       No
4       No
      ...
609     No
610     No
611     No
612     No
613    Yes
Name: Self_Employed, Length: 614, dtype: object

In [90]:
loan["LoanAmount"]=loan["LoanAmount"].fillna(loan["LoanAmount"].median())

In [91]:
loan["LoanAmount"]

0      128.0
1      128.0
2       66.0
3      120.0
4      141.0
       ...
609     71.0
610     40.0
611    253.0
612    187.0
613    133.0
Name: LoanAmount, Length: 614, dtype: float64

In [93]:
loan["Loan_Amount_Term"]=loan["Loan_Amount_Term"].fillna(loan["Loan_Amount_Term"].median())

In [94]:
loan["Loan_Amount_Term"]

0      360.0
1      360.0
2      360.0
3      360.0
4      360.0
       ...
609    360.0
610    180.0
611    360.0
612    360.0
613    360.0
Name: Loan_Amount_Term, Length: 614, dtype: float64

In [95]:
loan["Credit_History"]=loan["Credit_History"].fillna(loan["Credit_History"].median())

In [96]:
loan["Credit_History"]

0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
      ...
609    1.0
610    1.0
611    1.0
612    1.0
613    0.0
Name: Credit_History, Length: 614, dtype: float64

In [98]:
loan.isnull().any()

Loan_ID              False
Gender               False
Married              False
Dependents           False
Education            False
Self_Employed        False
ApplicantIncome      False
CoapplicantIncome    False
LoanAmount           False
Loan_Amount_Term     False
Credit_History       False
Property_Area        False
Loan_Status          False
dtype: bool

In [106]:
loan.drop(columns="Loan_ID")

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,128.0,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [108]:
from sklearn.model_selection import train_test_split

In [111]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [112]:
y=loan["Loan_Status"]
x=loan.drop(columns="Loan_Status")

In [114]:
from sklearn.linear_model import LogisticRegression

In [115]:
from sklearn.metrics import accuracy_score

In [116]:
model=LogisticRegression

In [119]:
model.fit(x_train,y_train)

TypeError: fit() missing 1 required positional argument: 'y'

In [2]:
import pandas as pd
import numpy as np

In [3]:
Amazon=pd.read_csv("Amazon.csv")

In [4]:
Amazon

,Date,Open,High,Low,Close,Adj Close,Volume
0,1997-05-15,2.437500,2.500000,1.927083,1.958333,1.958333,72156000
1,1997-05-16,1.968750,1.979167,1.708333,1.729167,1.729167,14700000
2,1997-05-19,1.760417,1.770833,1.625000,1.708333,1.708333,6106800
3,1997-05-20,1.729167,1.750000,1.635417,1.635417,1.635417,5467200
4,1997-05-21,1.635417,1.645833,1.375000,1.427083,1.427083,18853200
...,...,...,...,...,...,...,...
6130,2021-09-23,3380.050049,3428.959961,3380.050049,3416.000000,3416.000000,2379400
6131,2021-09-24,3402.010010,3429.260010,3393.399902,3425.520020,3425.520020,2113600
6132,2021-09-27,3371.500000,3415.570068,3339.610107,3405.800049,3405.800049,3634500
6133,2021-09-28,3357.709961,3369.189941,3290.100098,3315.959961,3315.959961,4425600
6134,2021-09-29,3322.110107,3351.300049,3298.000000,3324.547119,3324.547119,1893888

In [5]:
Amazon.shape

(6135, 7)

In [6]:
Amazon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6135 entries, 0 to 6134
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       6135 non-null   object
 1   Open       6135 non-null   float64
 2   High       6135 non-null   float64
 3   Low        6135 non-null   float64
 4   Close      6135 non-null   float64
 5   Adj Close  6135 non-null   float64
 6   Volume     6135 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 335.6+ KB

In [7]:
Amazon.isnull().any()

Date         False
Open         False
High         False
Low          False
Close        False
Adj Close    False
Volume       False
dtype: bool

In [8]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [11]:
y=Amazon["Volume"]
x=Amazon.drop(columns="Volume")

In [13]:
from sklearn.linear_model import LogisticRegression

In [14]:
from sklearn.metrics import accuracy_score

In [15]:
model=LogisticRegression

In [16]:
model.fit(x_train,y_train)

TypeError: fit() missing 1 required positional argument: 'y'